html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sayfanın en az ekran boyutu kadar olmasını sağlar */
  }

.home{
  background: rgb(61,59,243);
  background: linear-gradient(90deg, rgba(61,59,243,1) 0%, rgba(249,110,42,1) 100%);

}


