.word-list-h1{
    color:#c3c3c3;
    text-align: center;
    font-family: "Archivo Black", serif;
    font-size: 50px;
    letter-spacing: 3px;
}

.word-list-h2{
    color:#fff;
    text-align: center;
    font-family: "Archivo Black", serif;
    font-size: 100px;
    letter-spacing: 3px;
}

/* .list-group{
    background-color: transparent;
} */

.list-group-item {
    background-color: transparent !important;
    color: #e95830 !important;
    font-family: "Archivo Black", serif;
    font-size: 25px;
}
.mean{
    font-family: "Manrope", serif;
}

.list-info{
    text-align: center;
    font-family: "Manrope", serif;
    color: red;
    font-size: 50px;
}

table{
    background-color: #e95830 !important;
    font-size: 20px;
    font-family: "Manrope", serif;
    border-collapse: separate;
    border-spacing: 0; /* Hücreler arasındaki boşluğu kaldırır */
    border-radius: 10px; /* Köşeleri yuvarlatır */
    overflow: hidden; /* Köşelerin düzgün görünmesini sağlar */
    width: 50%;
}
table th {
    /* color: #3b3b3b !important;
    background-color: transparent !important;
    font-size: 20px; */
}
table td {
    background-color: #6e6d6d !important;
    color: #fff !important;
}

.table-striped {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-striped th,
  .table-striped td {
    border: 1px solid transparent !important; /* Satır çizgilerini mavi yap */
    padding: 8px !important;
    text-align: left !important;
  }
  
  .table-striped th {
    background-color: #e95830 !important; 
    color: #3a3939 !important;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: blue !important; /* Tek satırlar için arka plan rengi */
  }
  
  .table-striped tbody tr:nth-child(even) {
    background-color: red !important; /* Çift satırlar için arka plan rengi */
  }
  
  .text-center {
    text-align: center;
  }
